 canvas {
     border: 1px gray solid;
     display: block;
     margin: auto;
}

h1 {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#readyButton {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

#userInfo {
    text-align: center;
    font-size: 15px;
    font-style: oblique;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

/* -------------------- CODE FOR TIMER ------------- */

/* https://stackoverflow.com/questions/29649643/how-to-create-a-circular-countdown-timer-using-html-css-or-javascript */

.item {
    margin: auto;
    display: block;
}

.item h2 {
    display: none;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: auto;
    display: block;
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}

/* ------------------ END OF TIMER CODE ------------ */